<section class="contact">
   <div class="container">
       <div class="row">
            <div class="col-md-12">
              <div class="page-heading">contact</div>
              <hr/ class="divider">
          </div>
          <div class="contactContainer" data-ng-controller="contactController">
          <form name="contactform" validation data-ng-submit="submit(contactform)" method="post" action="" role="form">
            <div data-ng-hide="formError()" data-ng-class="result">
              {{resultMessage}}
            </div>
		    <div class="com-md-12">
          <!-- USer Name-->
          <div class="col-md-6">
            <input type="text" name="name" id="name" data-ng-model="contactData.name" placeholder="Full Name" data-ng-minlength="3" required/>
          </div>
           <!-- USer Email-->
          <div class="col-md-6">
              <input type="email" name="email" id="email" data-ng-model="contactData.email" placeholder="Enter your email address here" data-ng-minlength="3" required/>
          </div>
          <!--User Message-->
          <div class="col-md-12"> 
            <textarea name="inputMessage" data-ng-model="contactData.message" rows="4" id="inputMessage" placeholder="Enter Message Here"></textarea>
          </div>
          <!--Submit Button-->
          <div class="col-md-6">
            <input type="button" class="btn btn-default" data-ng-disabled="submitButtonDisabled" data-ng-click="submit(contactform)" value="Send"/>
          </div>
        </div>
      </form>
    </div>
       </div>
   </div>    
</section>