  <section class="portfolio">
   <div class="container">
       <div class="row">
            <div class="col-md-12">
              <div class="page-heading">Portfolio</div>
              <hr/ class="divider">
          </div>          
       </div>
       <div class="row breathing-space">
          
          <div class="col-md-4">
               <div class="cellpadding">
                <div class="hovereffect">
                    <img class="img-responsive" src="../images/web.jpg" alt="Web Design">
                    <div class="overlay">
                       <h2>Web</h2>
                       <a colorbox="{transition:'fade'}" class="info" href="../images/gasthaus.jpg" rel="web">View</a>
                       <div ng-repeat="obj in webimages">
                       <a colorbox="{transition:'fade'}" href="../images/{{obj}}" rel="web"></a>
                       </div>
                  </div>
                </div>
            </div>
           </div>
           
           
           <div class="col-md-4">
               <div class="cellpadding">
                <div class="hovereffect">
                    <img class="img-responsive" src="../images/concept.jpg" alt="Concept Design">
                    <div class="overlay">
                       <h2>Concept Design</h2>
                       <a colorbox="{transition:'fade'}" class="info" href="../images/concept1.jpg" rel="concept">View</a>
                       <div ng-repeat="conceptimg in conceptdesign">
                       <a colorbox="{transition:'fade'}" href="../images/{{conceptimg}}" rel="concept"></a>
                       </div>
                    </div>
                </div>
            </div>
           </div>
           
           <div class="col-md-4">
               <div class="cellpadding">
                <div class="hovereffect">
                    <img class="img-responsive" src="../images/branding.jpg" alt="Branding Design">
                    <div class="overlay">
                       <h2>Branding</h2>
                       <a colorbox="{transition:'fade'}" class="info" href="../images/brand1.jpg" rel="brand">View</a>
                       <div ng-repeat="brand in brandings">
                       <a colorbox="{transition:'fade'}" href="../images/{{brand}}" rel="brand"></a>
                       </div>
                    </div>
                </div>
            </div>
           </div>
           
                     
        </div>
   </div> 
		  
</section>





