@media only screen and (max-width: 768px) { 

    .social-links {
        display: inline-block;
        li {
                display: inline-block;
                margin: 0 15px 0 30px;
            }
        }
}