@media only screen and (max-width: 768px) { 

    .social-links {
        display: inline-block;
        margin-left: 30px;
        li {
                display: inline-block;
                margin: 0 15px 0 0;
            }
        }
}